@using StudIS.Web.Mvc.Models;
@model List<LecturerCourseViewModel>

<div class="container">
    <div class="page-header">
        <h1>Predavani predmeti</h1>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Predmet</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.Name (@item.NaturalIdentifier)</td>
                        <td><a href="/Lecturer/Component/@item.Id" class="list-group-item">Komponente</a></td>
                        <td><a href="/Lecturer/StudentsEnrolled/@item.Id" class="list-group-item">Studenti</a></td>
                        <td><a href="/Lecturer/Statistics/@item.Id" class="list-group-item">Statistika</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>