@using StudIS.Web.Mvc.Models
@model LecturerViewModel

<div class="container">
    <div class="page-header">
        <h1>Osobni podaci</h1>
    </div>
    <div style="width: 100%;">
        <div style="float:left; width: 20%">
            <b>Ime: </b> <br />
            <b>Prezime: </b> <br />
            <b>Email:</b> <br />
            <b>OIB: </b> <br />
        </div>
        <div style="float:left;">
            @Model.Name <br />
            @Model.Surname<br />
            @Model.Email<br />
            @Model.NationalIdentificationNumber<br />
        </div>
    </div>
    <div style="clear:both"></div>
    <hr />
    Za sve promjene podataka obratite se studentskoj službi.
</div>

