@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
    ViewBag.Title = "Greška";

}

<div class="jumbotron">
    <h1>Čini se da je došlo do greške u korištenju aplikacije</h1>
    <h3>Vrati se na početnu <a href="/Home">stranicu</a></h3>

</div>