@model Boolean
@{
    Layout= "~/Views/Shared/_PartialLayout.cshtml";
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Dobrodošli u StudIS</h1>
    <form action="/Login" method="post">
        <div class="form-group">
            <label for="usr">Email:</label>
            <input type="text" class="form-control" name="email" placeholder="email">
        </div>
        <div class="form-group">
            <label for="pwd">Lozinka:</label>
            <input type="password" class="form-control" name="password" placeholder="lozinka">
        </div>
        <input type="submit" class="btn btn-info" value="Prijava">
    </form>
</div>


@if (Model)
{
    <div class="alert alert-danger">
        Krivo korisničko ime ili lozinka!
    </div>
}